@import 'https://fonts.googleapis.com/css?family=Open+Sans';
img{
	max-width:100%;
}

.headimg { 
	width:100%; 
	height:100vh; 
	background: url('../images/bridge.jpg');
	background-size: cover;  
	font-size: 30px; 
	font-weight: 900; 
	color:black;

 }
 .shape{
 	height: 20vh;width: 40vh;
 	background-color: white;
 	animation: change infinite 5s;
 	position: absolute;
 	top: 50vh;
 	left:50vh;
 	display: flex;
 	justify-content: center;
 	vertical-align: middle;
 }
 @keyframes change{
 	0%{
 		transform: rotate(0deg);
 		border-radius: 0px;
 		background-color: #3cba54;
 	}
 	25%{
 		width: 20vh;
 		transform: rotate(0deg);
 		content: "hello";
 		border-radius: 0px;
 		background-color: #f4c20d;
 	}
 	50%{
 		transform: rotate(1800deg);
 		border-radius: 50%;
 		width: 20vh;
 		background-color: #db3236;
 	}
 	75%{
 		transform: rotate(1800deg);
 		border-radius: 50%;
 		background-color: #4885ed;
 	}
 	100%{
 		 		transform: rotate(0deg);
 		border-radius: 0px;
 		background-color: #3cba54;s
 	}
 }
 .event{
 	display: flex;
 	width: 100%;
 	justify-content: space-between;
 }
.headcont { 	
	position: absolute;
	right:100px;
	top:100px; 
	width: 420px; 
	font-size:100px;
	text-align:right;
	/*background: rgba(255,255,255,0.5); 	*/
} 


@media screen and (max-width:900px ){

	.headimg{
		width:100vw;
		height:50vh;		
	}
	.headcont{
		background: rgba(255,255,255,0.5); 
	}
}


