@import 'https://fonts.googleapis.com/css?family=Open+Sans';
img{
	max-width:100%;
}
*{
	background-color: #FDFFEA;
}
.headimg { 
	width:100%; 
	height:100vh; 
	background: url('../images/bridge.jpg');
	background-size: cover;  
	font-size: 30px; 
	font-weight: 900; 
	color:#fff;
	text-shadow:8px 8px #000;


 }
 .shape{
 	height: 20vh;width: 40vh;
 	background-color: white;
 	animation: change infinite 5s;
 	position: absolute;
 	top: 1vh;
 	left:1vh;
 	display: flex;
 	justify-content: center;
 	vertical-align: middle;
 }
 @keyframes change{
 	0%{
 		transform: rotate(0deg);
 		border-radius: 0px;
 		background-color: #3cba54;
 	}
 	25%{
 		width: 20vh;
 		transform: rotate(0deg);
 		content: "hello";
 		border-radius: 0px;
 		background-color: #f4c20d;
 	}
 	50%{
 		transform: rotate(1800deg);
 		border-radius: 50%;
 		width: 20vh;
 		background-color: #db3236;
 	}
 	75%{
 		transform: rotate(1800deg);
 		border-radius: 50%;
 		background-color: #4885ed;
 	}
 	100%{
 		 		transform: rotate(0deg);
 		border-radius: 0px;
 		background-color: #3cba54;s
 	}
 }
 .event{
 	display: flex;
 	width: 100%;
 	justify-content: space-between;
 }
.headcont { 	
	position: absolute;
	right:100px;
	top:100px; 
	width: 420px; 
	font-size:100px;
	text-align:right;
	background: rgba(255,255,255,0); 	
} 

.divhead{
	font-size: 50px;
}
footer{
	background-color: #999;

}
.events img{

	height:300px;
	width:100%;
}
.events .im{
	float:right;
}
.events .divhead{

}
iframe{
	width:100%;
}
.ele{
	display:flex;
	width: 100%;
 	justify-content: space-between;
}
@media screen and (max-width:900px ){

	.headimg{
		width:100vw;
		height:50vh;		
	}
	.headcont{
		text-align: center;
	}
	iframe{
		width:100%;
	}
}


