@import 'https://fonts.googleapis.com/css?family=Open+Sans';
img{
	max-width:100%;
}

.headimg { 
	width:100%; 
	height:100vh; 
	background: url('../images/bridge.jpg');
	background-size: cover;  
	font-size: 30px; 
	font-weight: 900; 
	color:black;

 }
 .event{
 	display: flex;
 	width: 100%;
 	justify-content: space-between;
 }
.headcont { 	
	position: absolute;
	right:100px;
	top:100px; 
	width: 420px; 
	font-size:100px;
	text-align:right;
	/*background: rgba(255,255,255,0.5); 	*/
} 


@media screen and (max-width:900px ){

	.headimg{
		width:100vw;
		height:50vh;		
	}
	.headcont{
		background: rgba(255,255,255,0.5); 
	}
}


